.Contact .container {
  display: flex;
  flex-wrap: wrap;
}

.Contact--Details {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

.Contact--Details--Item {
  text-align: center;
  flex: 1;
  padding: 0 5rem;
  border-right: 1px solid var(--lightGrey);
}

.Contact--Details--Item:last-of-type {
  border: none;
}

.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: var(--primary);
}

.Contact--Details--Item svg {
  margin-right: 1.5rem;
  color: var(--primary);
}

