.EnquiryForm {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.EnquiryForm .Form--Label {
	flex: 0 0 46%;
}

.EnquiryForm .Form--Input {
	background-color: transparent;
	border-color: rgba(255,255,255,0.6);
	padding: .8rem;
	margin-bottom: 2rem;
}

.EnquiryForm input::-webkit-input-placeholder {
	color: white;
	opacity: 0.6;
	font-size: 1.4rem;
}
 
.EnquiryForm input:-moz-placeholder { /* Firefox 18- */
	color: white;
	opacity: 0.6; 
	font-size: 1.4rem; 
}
 
.EnquiryForm input::-moz-placeholder {  /* Firefox 19+ */
	color: white; 
	opacity: 0.6; 
	font-size: 1.4rem;
}
 
.EnquiryForm input:-ms-input-placeholder {  
	color: white; 
	opacity: 0.6; 
	font-size: 1.4rem;
}

.EnquiryForm .TextArea {
	flex: 0 0 100%;
}

.EnquiryForm .form-footer {
	flex: 0 0 100%;
	display: flex;
	justify-content: flex-end;
}

.EnquiryForm .button {
	border: none;
}

.EnquiryForm .form-footer svg * {
	fill: white;
}