.FeaturedHomeSection {
	display: flex;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(255,255,255,0.5);
}

.FeaturedHomeSection .button {
	display: inline-block;
}

/*Featured Slider*/

.featuredSlider {
	flex: 0 0 70%;
	max-width: 70%;
	padding: 3rem 7rem;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.featuredSlider * {
	color: white;
}

.featuredSlider h2 {
	font-size: 2rem;
	opacity: 0.8;
}

.featuredSlider.fancy-title h2:before, .featuredSlider.fancy-title h2:after {
	background-color: white;
	width: 100%;
}

.featuredSlider.fancy-title h4:before, .featuredSlider.fancy-title h4:after {
	display: none;
}

.featuredSlider h4 {
	margin: 0;
	font-size: 1.8rem;
}

.featuredSlider p {
	opacity: 0.8;
}

.featuredSlider .button {
	margin: 0;
	padding-left: 0;
	border-bottom: 0;
}

.featuredSlider .button:after {
	display: none;
}

.featuredSlider .slick-slide {
	height: auto;
}

.featuredSlider .slick-slider {
	position: static;
}

.featuredSlider .slick-arrow {
	top: 5rem;
	height: 4rem;
	width: 4rem;
}

.featuredSlider .slick-arrow:before {
	font-size: 2.5rem;
}

.featuredSlider .slick-arrow.slick-next {
	right: 6rem;
}

.featuredSlider .slick-arrow.slick-prev {
	right: 9rem;
	left: auto;
}


/*Featured Banner*/

.featuredBanner {
	flex: 1;
	text-align: center;
}

.featuredBanner h3, .featuredBanner .button {
	color: white;
	margin: 0;
	line-height: 1.2;

}

.featuredBanner .bannerContent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: 70%;
	height: auto;
	z-index: 3;
	margin: 0 auto;
}