.intro-section {
	padding: 7.5rem 0;
	max-width: 55rem;
}

.intro-section.alignCenter {
	max-width: 75rem;
}

.intro-section h2 {
	font-weight: 400;
}

.fancy-title h2, .fancy-title h4 {
	position: relative;
	padding: 0 0 1rem;
	margin-bottom: 3.5rem;
}

.fancy-title h2:before, .fancy-title h4:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 8rem;
	height: .1rem;
	background-color: var(--primary);
}

.fancy-title h2:after, .fancy-title h4:after {
	content: '';
	position: absolute;
	bottom: -.5rem;
	left: 0;
	width: 8rem;
	height: .1rem;
	background-color: var(--primary);
}

.alignCenter.fancy-title {
	text-align: center;
	margin: 0 auto;
}

.alignCenter.fancy-title h2:before, .alignCenter.fancy-title h2:after {
	right: 0;
	margin: 0 auto;
}