.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 14rem 0;
  position: relative;
}

.PageHeader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.PageHeader .BackgroundImage {
  opacity: 0.7;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin: 0 auto;
  font-weight: 400;
  background: linear-gradient(to right, #D0EFF4, #FFECCE, #FFFBF5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
