.PostCard {
  text-decoration: none;
  color: inherit;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

.PostCard--Image {
  margin: 0 0 1rem;
  width: 100%;
  height: 20rem;
  position: relative;
}

.PostCard--Image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  opacity: 0;
  transition: all ease-in-out .2s;
}

.PostCard--Title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}


.PostCard--Content {
  padding: 0 0 2.5rem;
}

.PostCard--Content .SinglePost--Meta {
  text-align: left;
  margin: 0 0 .5rem;
}

.PostCard--Category {
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
}

.PostCard:hover .PostCard--Image:before,
.PostCard:focus .PostCard--Image:before {
  opacity: 1;
}

/*Featured Home*/

.PostCard.featuredHome {
  position: relative;
}

.PostCard.featuredHome .PostCard--Image {
  height: 45rem;
}

.PostCard.featuredHome .excerpt {
  margin-bottom: 4rem;
}

.PostCard.featuredHome .button {
  display: inline-block;
  border-bottom: none;
  padding-left: .5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.PostCard.featuredHome .button:after {
  display: none;
}


