.secondary-banner {
	padding: 8rem 0;
}

.secondary-banner.bannerLarge {
	padding: 20rem 0;
}

.secondary-banner .container {
	display: block !important;
	text-align: center;
}

.secondary-banner .container * {
	color: white;
}

.secondary-banner h2 {
	margin-bottom: 0;
}

.secondary-banner h4 {
	font-size: 2rem;
}

