.SubscribeBanner {
	background-color: white;
	padding: 10rem 0;
}

.SubscribeBanner .container {
	text-align: center;
}

.SubscribeBanner .form-description {
	margin-bottom: 4rem;
}

.SubscribeBanner .form-description h4 {
	margin-bottom: 0;
	color: var(--secondary);
}

.SubscribeBanner .Form {
	margin: 0 auto;
	border-bottom: .1rem solid var(--primary);
}

.SubscribeBanner .form-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1.5rem 2rem;
	margin: 0;
}

.SubscribeBanner .form-footer .button {
	border: none;
	padding: 0;
	margin-right: 1rem;
}

.SubscribeBanner .Form--Label {
	flex: 0 0 70%;
}

.SubscribeBanner .form-footer {
	flex: 1;
}

.SubscribeBanner .Form--Input {
	border: none;
}

.SubscribeBanner .form-footer svg {
	transition: all ease-in-out .2s;
}

.SubscribeBanner .form-footer .button:hover + svg {
	transform: translateX(0.25em);
}