.video-section {
	margin: 2rem 0;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	cursor: pointer;
}

.video-section > * {
	max-width: 100% !important;
}

.video {
  width: 100%;
  border: none;
  display: block;
  min-height: 50rem;
}

.video-section iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*Video Overlay*/

.video-section .overlay-content {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.video-section .overlay-content:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 2;
}

.video-section .overlay-content h2, .video-section .overlay-content .playButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 10rem;
	height: 10rem;
	z-index: 3;
}

.video-section .overlay-content h2 {
	top: auto;
	bottom: 65%;
	text-align: center;
	width: 100%;
	height: auto;
	font-size: 4rem;
	font-weight: 600;
}

.video-section.videoOverlay .video {
	min-height: 55rem;
	position: relative;
	margin: 0;
}


/*Video Banner*/

.video-section.videoBanner {
	padding-bottom: 30%;
	margin: 0;
}


/*Home Video*/

.video-section.homeVideo {
	cursor: default;
	margin: 0;
}

.video-section.homeVideo .overlay-content {
	justify-content: flex-start;
}

.video-section.homeVideo .overlay-content .container {
	max-width: 65%;
	padding-top: 20rem;
	margin: 0 0 0 auto;
}


.video-section.homeVideo .overlay-content h1, .video-section.homeVideo .overlay-content .button {
	position: relative;
	z-index: 3;
	text-align: left;
	line-height: 1;
	display: inline-block;
} 


.video-section.homeVideo .overlay-content h1 {
	font-size: 18rem;
	font-weight: 800;
	margin: 0;
}



