.video-section {
	margin: 2rem 0;
}

.video-section > * {
	max-width: 100% !important;
}

.video-section.videoOverlay {
	position: relative;
	margin: 0;
}

.video-section.videoOverlay h2, .video-section.videoOverlay p {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
}

.video-section.videoOverlay h2 {
	top: 10rem;
}

.video-section.videoOverlay p {
	bottom: 10rem;
	width: 10%;
}

.video-section.videoOverlay .video {
	min-height: 55rem;
	position: relative;
	margin: 0;
}

.video {
  width: 100%;
  border: none;
  display: block;
  min-height: 50rem;
}


